@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
	margin: 0;
	padding: 0;
}
.header__container{
	margin: 0 auto;
	max-width:100%;
	background-color:#E8A87C;

	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.header__nav{
	display: flex;
	align-items: center;
}
.header__list{
	padding-left:40px;
	list-style-type: none;
}
.header__item{
	display: inline-block;
	margin-right: 30px;
	font-family: roboto;
	font-size: 18px;
	font-weight: 400;

}
.header__link:hover,
.header__link:active,
.header__link{
	text-decoration: none;
	color: white;
}
.main__container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}
.main__post{
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	max-width: 700px;
	background-color: #ffffff;
	margin: 30px  auto;
	padding: 20px 30px 20px 30px;

}
.main__title{
	margin-top: 0;
	text-indent: 30px;
	font-family: roboto;
	font-size: 30px;
	text-transform: uppercase;
}
.main__title::before{
	content: "";
	margin-top: 5px;
	margin-left: -5px;
	width: 27px;
	height: 27px;
	border-bottom: 3px solid #41B3A3;
	border-left: 3px solid #41B3A3;
	position: absolute;

}

.main__title a:hover,
.main__title a:active,
.main__title a{
	text-decoration: none;
	color: #E27D60;
}
.main__annotation{
	text-indent: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: roboto;
	font-size: 18px;
}
.main__post-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main__date-author{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main__author{
	display: inline-block;
	font-family: roboto;
	font-size: 18px;
	color: #41B3A3;
	font-weight: 600;
	margin-right: 5px;
}
.main__date{
	display: inline-block;
	font-family: roboto;
	font-size: 15px;
}
.main__watch{
	margin: 0;
	font-family: roboto;
	font-size: 18px;
	color: #41B3A3;
	font-weight: 600;
}
.main__watch::before{
	margin-right: 6px;
	content: url("/image/watch.svg");
}